<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" processIsolation="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>

    <testsuite name="general">
      <directory>tests/</directory>
    </testsuite>
    <testsuite name="base">
      <file>tests/BaseTest.php</file>
    </testsuite>

  </testsuites>
  <logging>
    <junit outputFile="./reports/phpunit_results.xml"/>
  </logging>
  <php>
    <!--
      <ini name = "display_errors" value = "true"/>
      <ini name = "memory_limit" value = '500M'/>
      <includePath>./test/</includePath>
    -->
    <var name="DB_HOST" value="127.0.0.1"/>
    <var name="DB_USER" value="root"/>
    <var name="DB_PASS" value=""/>
    <var name="DB_NAME" value="test"/>

  </php>
  <source>
    <include/>
  </source>
</phpunit>
